<h1>Delete all questionnaire data from the database</h1>
<p>
  Are you sure you want to delete everything in the questionnaires table?
</p>
<%= form_tag '/admin/delete_all' do %>
  <%= submit_tag "Yes, delete all questionnaires" %>
<% end %>
<p>
  There are <strong><%= @count %></strong> questionnaires in the database now.
  <% if @count == 0 %>
    <br /><%= link_to 'Import questionnaires?', :action => 'import' %>
  <% end %>
</p>